{% extends 'main.html'%}
{% block content %}
<h2>
    Login
</h2>
<form action="" method="post">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" name="username" aria-describedby="username">
          <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</form>
{% endblock content%}