{% extends 'main.html' %}
{% block content %}
<main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Employees</h1>
            <p class="lead text-muted">
              This is the list of all employees in the Company
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%for user in users%}
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">{{ user.username }}</h5>
                  {% if user.is_staff %}
                  <p class="card-text text-warning"><i class="fa-solid fa-crown"></i> Staff</p>
                  {% else %}
                  <p class="card-text">User</p>
                  {% endif %}
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                  {% if request.user.is_staff %}
                    <div class="btn-group">
                      <a
                        href="{% url 'update' id=user.id %}"
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Edit
                    </a>
                      <a
                        href="{% url 'delete' id=user.id %}"
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Delete
                    </a>
                    </div>
                    {% endif %}
                    <small class="text-muted">Last login: {{ user.last_login }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}